* {
    box-sizing: border-box;
}
#div-carousel-certification {
    position: relative;
    max-width: 100%;
    width: auto;
    height: auto;
    min-height: calc(90% - 15vh) !important;
    background-color: red;
}
    .div-carousel-item {
        position: relative;
        display: flex !important;
        justify-content: center !important;
    }
        #div-carousel-certification img {
            height: 100% !important;
            max-width: 100% !important;
            width: auto !important;
        }
        .txt-carousel-desc {
            position: absolute;
            width: 40%;
            text-align: justify;
            margin: 0;
            padding: 1rem;
            bottom: 20%;
            left: 10%;
            font-size: 1.3rem;
            color: white;
            background-color: rgba(128, 128, 128, 60%);
        }
#div-certification-desc {
    position: relative;
    width: 100%;
    height: auto;
}
    .div-certification-content {
        text-align: center;
    }
        /* aham certificate */
        #div-certification-desc h3 {
            margin: 1rem auto;
        }
        .div-pdf-download {
            margin: 0 5%;
        }
            .div-pdf-download svg {
                height: 1.5rem;
                width: 1.5rem;
            }