* {
	box-sizing: border-box;
}
body {
	position: relative;
}
	#div-index-carousel {
		text-align: center;
	}
		.index-carousel-item {
			width: 100%;
			height: 85vh;
			max-height: 85vh;
		}
			.index-carousel-item img {
				width: auto;
				max-width: 100%;
				height: auto;
				min-height: 85vh;
				max-height: 85vh;
			}
	.div-index-product {
		height: 85vh;
		padding: 0 !important;
	}
		.div-index-product img {
			height: auto;
			max-height: 80vh;
		}
	#div-faq h6{
		text-transform: capitalize;
	}

@media only screen and (max-width: 999px) {
	.div-index-product {
		height: auto;
		text-align: center;
	}
		.div-index-product-image {
			margin: 2rem auto;
		}
		.div-index-product a {
			margin: 2rem auto;
			width: 100%;
		}
}

@media only screen and (max-width: 899px) {
	#div-index-carousel, .carousel-inner {
		height: auto;
	}
	.index-carousel-item, .index-carousel-item img{
		height: auto;
		min-height: auto;
	}
}