* {
	box-sizing: border-box !important;
}
body {
	padding: 15vh 0 0 0 !important;
	margin: 0 !important;
}
    #nav-main {
        height: 15vh !important;
        box-shadow: 0 2px 4px -2px gray;
        background-color: white !important;
        text-transform: uppercase;
    }
        .navbar-brand-main {
            padding-top: 0 !important;
            text-transform: uppercase;
            font-weight: 700;
        }
            .navbar-brand-main img {
                height: 3.5rem;
                width: auto;
            }
            .div-navbar-offcanvas {
                background-color: white !important;
                font-weight: 600;
            }
                .div-navbar-offcanvas ul {
                    margin: auto 0 0 auto !important;
                }
                    .div-navbar-offcanvas .nav-item {
                        margin-left: 10px;
                    }