* {
	box-sizing: border-box;
}
body {
    padding: 0 !important;
}
	#div-product {
		margin: 0;
		padding: 0;
		width: 100%;
	}
        #div-main-tab {
            top: 15vh;
            z-index: 1;
            margin: 0;
            padding: 0;
            height: 2.75rem;
            font-size: 13px !important;
            box-shadow: 0 1px 4px -2px gray;
        } 
            #div-main-nav {
                top: 15vh;
                height: 2.75rem;
                margin: 0 !important;
                padding: 0 !important;
                overflow: hidden !important;
            } 
                .product-brand {
                    text-transform: capitalize;
                    cursor: default;
                    pointer-events: none;
                    height: 100%;
                    margin: 0 0 2rem 0 !important;
                    padding: 0 0 0 1rem;
                }
                #ul-pills-tab {
                    margin: 0;
                } 
                    #div-main-nav .nav-item {
                        margin: 0;
                        height: 2.75rem;
                        padding: 0 !important;
                    }
                    #div-main-tab li .active {
                        font-weight: 700;
                        background-color: transparent;
                        border-radius: 0;
                        color: #14C9CB !important;
                        border-bottom: 5px solid #14C9CB;
                    }
                    #div-main-tab li button:hover {
                        color: #14C9CB !important;
                    }
                        #div-main-tab .nav-link {
                            width: 100%;
                            height: 100%;
                            color: black !important;
                            text-transform: capitalize;
                            border-radius: 0;
                        }  
        /* tab contents */
        #div-tabContent {
            padding-top: calc(15vh + 2.75rem) !important;
        }
            #product {
                min-height: 100vh;
                padding-bottom: 5vh;
            }
            #product-info {
                height: 100%;
            }
                .div-p-img img {
                    height: 350px;
                }
                #product-info ul {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-column-gap: 30px;
                    grid-row-gap: 10px;
                }
                #product-info li, .ul-kit li {
                    width: 100%;
                    list-style: disc outside;
                }
            #product-features {
            }
                    .feature-container p {
                        white-space: pre-wrap !important;
                        width: 100%;
                    }
                    #div-carousel-product-feature, .carousel-inner, .carousel-item {
                        height: calc(85vh - 2.75rem) !important;
                        position: relative !important;
                    }
                    .carousel-caption {
                        color: black !important;
                        bottom: 2.5rem !important;
                        padding-top: 0.25rem !important;
                        padding-bottom: 0 !important;
                        border-radius: 1rem;
                        background-color: rgba(20, 201, 203, 60%);
                    }
                    .carousel-caption h3, .carousel-caption h5, .carousel-caption p {
                    }
                    .carousel-inner {
                    }
                    .carousel-item {
                    }
            .kit-list-items {
                white-space: pre-wrap;
            }
            #div-product-kit ul {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-column-gap: 30px;
            }
            .accessory-desc, .accessory-desc-list {
                white-space: pre-wrap;
                text-align: justify;
                display: block;
                line-height: 2em;
            }
            .p-accessory-img {
                height: 30%;
            }
            .other-info-desc, .other-info-desc-list {
                white-space: pre-wrap;
            }
            #showImgLabel {
                text-transform: capitalize;
            }
            .link-container {
                text-align: center;
            } 
.btn-page:link, .btn-page:visited, #product-accessories a:link, #product-accessories a:visited, #user-manual a:link, #user-manual a:visited {
    background-color: #14C9CB !important;
    border: 1px solid #14C9CB !important;
}
.btn-page:hover, .btn-page:active, #product-accessories a:hover, #product-accessories a:active, #user-manual a:hover, #user-manual a:active {
    background-color: #0EBFC0 !important;
}
@media only screen and (max-width: 1089px) {
    #div-main-tab {
        font-size: 10px !important;
    }
    .product-brand {
        display: none !important;
    }
}   
@media only screen and (max-width: 899px) {
    
    #div-main-tab {
    }

    #div-carousel-product-feature, .carousel-inner, .carousel-item {
        height: auto !important;
    }
}   