* {
	box-sizing: border-box;
	position: relative;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}
	#div-rainbow {
		margin: 0;
		padding: 0;
		width: 100%;
	}
		#div-main-tab {
			position: sticky;
			top: 15vh;
			z-index: 5;
			height: 10% !important;
			font-size: 16px;
			background-color: white;
		}
			#div-main-tab li .active {
				background-color: transparent;
				border-radius: 0;
				color: #72B01D !important;
				border-bottom: 5px solid #72B01D;
			}
				#div-main-tab .nav-link {
					width: 100%;
					font-size: .7rem;
					color: black !important;
					text-transform: capitalize;
					border-radius: 0;
				}

/* tab contents */
#tab-content {
	position: relative;
	border: 1px solid black;
}
.tab-item {
	width: 100%;
	min-height: 100%;
	height: auto;
	padding: 30vh 0;
}
	#rainbow-vacuum-cleaner {
		padding-top: 0;
	}
		.div-main-container {
			display: grid;
			grid-template-columns: 50% 50%;
			min-height: calc(90% - 15vh);
			align-items: center;
		}
			.div-product-desc {
				text-transform: capitalize;
				padding: 1.5rem;
			}
				.div-product-desc ul {
					display: grid;
					grid-template-columns: 50% 50%;
				}
				.btn-order {
					background-color: #3f7d20;
					border: 1px solid #3f7d20;
					text-transform: capitalize;
					font-weight: 900;
					font-size: 1.5rem;
					width: 100%;
				}
					.btn-order:hover {
						background-color: #3f7d20;
						border: 1px solid #3f7d20;
						opacity: 90%;
					}
					.btn-order:focus {
						box-shadow: 0px 0px 5px 3px #72B01D; 
					}
#pills-features {
	min-height: calc(90% - 15vh);
}	
	.div-features{
		height: auto;
	}
		.div-feature-desc {
			display: flex;
			padding: 5%;
		}
			.div-feature-desc p {
				font-size: 1.5rem;
				text-align: right;
			}
		.div-product-feature-img {
			height: 100%;
			width: 100%;
			padding: 5%;
		}
			.div-product-feature-img img {
				height: 300px;
			}
#pills-kit, #pills-certification {
	width: 100% !important;
	padding: 0;
	min-height: calc(90% - 15vh) !important;
}
#user-manual h4, #user-manual h5 {
	width: 100%;
	text-align: center;
}
	#user-manual svg {
		height: 1.5rem;
		width: 1.5rem;
	}